.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 450px;
  border: 2px solid black;
  padding: 16px;
  right: 2px;
  height: 90vh;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 2%;
}
